__pycache__/
*.py[cod]

04_Code/codec_reconstruction/outputs
04_Code/rvq_asr/trajectories/
04_Code/librispeech_pretraining/speechtokenizer_hubert_avg_tokens_dev_clean
04_Code/librispeech_pretraining/speechtokenizer_hubert_avg_tokens_smoke
04_Code/librispeech_pretraining/speechtokenizer_hubert_avg_tokens_smoke100
04_Code/librispeech_pretraining/speechtokenizer_hubert_avg_tokens_train_clean_100
04_Code/torgo_manifest/dac_tokens_24khz
04_Code/torgo_manifest/dac_tokens_smoke
04_Code/torgo_manifest/encodec_tokens_24khz_6kbps
04_Code/torgo_manifest/encodec_tokens_smoke
04_Code/torgo_manifest/speechtokenizer_hubert_avg_tokens
04_Code/librispeech_pretraining/speechtokenizer_hubert_avg_tokens_test_clean/
04_Code/rvq_asr/__pycache__/
04_Code/codec_reconstruction/__pycache__/
04_Code/torgo_manifest/__pycache__/
command.txt
04_Code/torgo_manifest/__pycache__/build_torgo_manifest.cpython-39.pyc
Whisper_dwer
tmux.txt
